_auth=xxxx
init.author.name=My Name
init.author.email=myemail@email.com
init.author.url=http://strml.net/
always-auth=true
spin=false
loglevel=http
@private:registry=http://xx.xx.xx.xx:4873
//xx.xx.xx.xx:4873/:_password=xxxxxx
//xx.xx.xx.xx:4873/:username=myusername
//xx.xx.xx.xx:4873/:email=myemail@email.com
//registry.npmjs.org/:_password=xxxxxx
//registry.npmjs.org/:username=myusername
//registry.npmjs.org/:email=myemail@email.com
//xx.xx.xx.xx:4873/:always-auth=true
//registry.npmjs.org/:always-auth=true
registry=https://registry.npmjs.org/
email=myemail@email.com
progress=false
